extends post_layout

block title
  |Scribd

block date
  |January 2014-current

block content
  p At Scribd I am part of the front end development team responsible for implementing new pages or features along with general bug fixing and site maintenance. I work with their team of UI/UX designers to implement new features such as the current Reader and Audiobook player along with more basic pages such as static landing content for promotions. I am also responsible for writing tests on any code that I write and interviewing new candidates for our team.

  p
    strong Technologies:
    | Javascript/Coffeescript, SCSS, HTML, Ruby on Rails, SQL (through ActiveRecord), ERB templates, RSpec, Capybara, Vagrant

  p
    a(href="https://www.scribd.com", target="_blank") www.scribd.com
