extends post_layout

block title

block date

block content
  ul
    li JavaScript
    li Coffeescript
    li CSS/LESS/SCSS
    li HTML5
    li Ruby on Rails
    li PHP
    li MongoDB
    li MySQL
    li Python
    li Expressjs
    li Mochajs
    li Jasmine
    li RSpec
    li Underscore
    li Backbone
    li jQuery
    li Socketio
    li Jade/PUG templates
    li ERB templates
    li Bootstrap
    li Highcharts
    li Sublime
    li Vim
    li Photoshop
    li Jira
    li Slack
    li N-way testing
    li Event tracking
    li Codekit
    li AWS
    li Phantomjs
    li Capybara
    li C/C++/C#
