#toolbar
    .stats
    .reset_btn.outline_btn Reset
    .controls
      select(name="dictionary")
        option(value="characters.hiragana") Hiragana
        option(value="characters.katakana") Katakana
        option(value="foods") Foods
        option(value="colors") Colors
        option(value="time") Time
        option(value="japanese_numbers") Numbers (にほんご) 
        option(value="addition_basic") Addition
        option(value="subtraction_basic") Subtraction
        option(value="multiplication") Multiplication
