extends layout

block content
  .posts
    .post
      h1 About
      p Hi! I am Luke and I felt obliged to put up a page about me here. The other pages are all more interesting, but maybe you're also wondering who put all this junk together so that's really the point of this page.

      p I am currently a full-time Web Developer for Scribd.com. I work on the team that builds everything under the .com domain there and have implemented several key projects such as the Epub Reader, the Audiobook player, the login/account creation flow and a plethora of landing pages. I also helped implement localization utilizing I18n; which was quite the beast of a project. 

      p Outside of work, I work on this website and all the things that I showcase here. My main two passions being beat making and language study. I started both of these projects sometime in 2014 when I was spending alot of time commuting on a train and wanted to repurpose that time. Since then though, they have grown into something more that I dedicate much of my time to.

      p Tools that I use for web dev: Sublime Text, JavaScript/Coffeescript, NodeJS, Ruby on Rails, HTML, CSS/LESS/SASS, PUG Templates, YAML, MongoDB/MySQL, Codekit, Terminal/Bash, my hands

      p Tools that I use to make beats: MPC1000, SP-202, DR-202, Logic Pro, DM1, Vinyl, Arturia Keyboard, Tascam 4-track, Guitar, Vox digital delay, Audacity, iOS music apps, my ears, my environmnet

      p Want to work on something together? I like building small scale static or dynamic websites and I am new to it, but also willing to work on music related projects whether it be an album, game or whatever. Just 
        <a href="mailto:luke.stebner+contact@gmail.com">shoot me an email</a>
        |  and say Hi! 
