extends layout 

block content
    #beats_page.posts
        .post
            h3 This page contains miscellaneous beats I've written and want to share. Please also check out my 
                a(href="/beats2017") 52 Beats 2017
                |  project for the latest beats!

        include posts/20161230_beat_setting_onward
        include posts/20161220_beat_busta_bust
        include posts/20161215_beat_reduce
        include posts/20161208_beat_recycle
        include posts/20161204_beat_regularly_overwritten
        include posts/20161120_beat_holy_batman
        include posts/20161120_beat_mallows
        include posts/20161120_beat_qrosh
        include posts/20161120_beat_spbeat
        include posts/20161120_beat_cassbeat
        include posts/20161120_beat_requiem

        //- .audioplayer
            .title
            audio(controls)
                source(type="audio/mpeg", src="")

        //- for beat in beats
            .beat(data-file=beat.path, data-title=beat.title)
                .title
                    span.play_icon
                    = beat.title
                .tags_list
                    ul
                        for tag in beat.tags
                            li= tag

                .description= beat.description


//- block templates
    script(type="text/template")#soundcloud_player_template.
        <iframe width="100%" height="150" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{track_id}}&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
