extends index

block content
    #beats_page
        .beat(data-soundcloud_id="263968031")
            .title Heavy Translucence
            .tags_list
                ul
                    li friday the 13th
                    li ios beat
                    li imaschine 2
                    li beatmaker 2

            .description Wrote this beat for weekly beats 2016

        .beat(data-soundcloud_id="262953898")
            .title Great Depths and Great Heights
            .tags_list
                ul
                    li instrumentals
                    li hip hop beat
                    li ios beat
                    li imaschine 2

            .description


        .beat(data-soundcloud_id="261876252")
            .title Sunday Catwalk
            .tags_list
                ul
                    li instrumental
                    li chill
                    li smooth
                    li imaschine 2
            .description

        .beat(data-soundcloud_id="260659062")
            .title High Ball Glass
            .tags_list
                ul
                    li instrumental
                    li hip hop beat
                    li smooth
                    li chill
                    li imaschine 2
            .description

        .beat(data-soundcloud_id="259673304")
            .title Trouble
            .tags_list
                ul
                    li instrumental
                    li hazard
            .description


block templates
    script(type="text/template")#soundcloud_player_template.
        <iframe width="100%" height="150" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{track_id}}&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
