<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="../assets/css/style.css">
  </head>
  <body>
    <div id="sidebar">
      <ul>
        <li><a href="#"> <span class="icon">&gt;</span>item 1</a></li>
        <li class="selected"><a href="#"> <span class="icon">&gt;</span>item 2</a></li>
        <li><a href="#"> <span class="icon">&gt;</span>item 3</a></li>
        <li><a href="#"> <span class="icon">&gt;</span>item 4</a></li>
        <li><a href="#"> <span class="icon">&gt;</span>item 5</a></li>
        <li><a href="#"> <span class="icon">&gt;</span>item 6</a></li>
      </ul>
    </div>
    <div id="body_content">
      <div id="beats_page">
        <div data-soundcloud_id="263968031" class="beat">
          <div class="title">Heavy Translucence</div>
          <div class="tags_list">
            <ul>
              <li>friday the 13th</li>
              <li>ios beat</li>
              <li>imaschine 2</li>
              <li>beatmaker 2</li>
            </ul>
          </div>
          <div class="description">Wrote this beat for weekly beats 2016</div>
        </div>
        <div data-soundcloud_id="262953898" class="beat">
          <div class="title">Great Depths and Great Heights</div>
          <div class="tags_list">
            <ul>
              <li>instrumentals</li>
              <li>hip hop beat</li>
              <li>ios beat</li>
              <li>imaschine 2</li>
            </ul>
          </div>
          <div class="description"></div>
        </div>
        <div data-soundcloud_id="261876252" class="beat">
          <div class="title">Sunday Catwalk</div>
          <div class="tags_list">
            <ul>
              <li>instrumental</li>
              <li>chill</li>
              <li>smooth</li>
              <li>imaschine 2</li>
            </ul>
          </div>
          <div class="description"></div>
        </div>
        <div data-soundcloud_id="260659062" class="beat">
          <div class="title">High Ball Glass</div>
          <div class="tags_list">
            <ul>
              <li>instrumental</li>
              <li>hip hop beat</li>
              <li>smooth</li>
              <li>chill</li>
              <li>imaschine 2</li>
            </ul>
          </div>
          <div class="description"></div>
        </div>
        <div data-soundcloud_id="259673304" class="beat">
          <div class="title">Trouble</div>
          <div class="tags_list">
            <ul>
              <li>instrumental</li>
              <li>hazard</li>
            </ul>
          </div>
          <div class="description"></div>
        </div>
      </div>
    </div>
    <script type="text/template" id="soundcloud_player_template"><iframe width="100%" height="150" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{track_id}}&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe></script>
    <script type="text/javascript" src="../assets/lib/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="../assets/lib/underscore-1.3.3.js"></script>
    <script type="text/javascript" src="../assets/coffee/main.js"></script>
  </body>
</html>