extends layout

block content
    .intro_block(data-lazy_background="/images/lighthouse.jpg")
        .avatar
            img(src="/images/avatar.jpg")

        h1 Luke Stebner
        h2 Welcome to my home on the internet
        p I work full time at Scribd building and maintaining their .com space for desktop and mobile web. In my spare time I create all the things you see on this website because I will never stop tinkering.

