<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="../assets/css/style.css">
  </head>
  <body>
    <div id="sidebar">
      <ul>
        <li><a href="#"> <span class="icon">&gt;</span>item 1</a></li>
        <li><a href="#"> <span class="icon">&gt;</span>item 2</a></li>
        <li><a href="#"> <span class="icon">&gt;</span>item 3</a></li>
        <li><a href="#"> <span class="icon">&gt;</span>item 4</a></li>
        <li><a href="#"> <span class="icon">&gt;</span>item 5</a></li>
        <li><a href="#"> <span class="icon">&gt;</span>item 6</a></li>
      </ul>
    </div>
    <div id="body_content">
      <h1>something</h1>
    </div>
    <script type="text/javascript" src="../assets/lib/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="../assets/lib/underscore-1.3.3.js"></script>
    <script type="text/javascript" src="../assets/coffee/main.js"></script>
  </body>
</html>