extends layout

block content
  .page(data-name="home")
    h1 luke stebner
    h2 web developer and beat maker

    p Hello. My name is Luke and I have been developing web sites for over ten years now! I also recently took up writing beats (instrumentals) and learning Japanese. I believe the most important thing about websites is that they should be intuitive to use. Many websites have lost site of this but it's not too late! 

    p| If you're looking to hire someone to build a website or consult about your website, I excel at building prototypes or small scale sites/tools. You can <a href="mailto:luke.stebner+contact@gmail.com">contact me</a> with information about your project and we can take it from there. 

    p I am also interested in working on music related projects. If you want to make music or use my music in your work please feel free to contact me as well. Make sure the subject of your email is relative to what you're contacting me about so I don't ignore it :).

    p acronyms/softwares: JavaScript, HTML, CSS, Ruby on Rails, NodeJS, PHP, Pug Templates, SASS, LESS, Sublime Text, Vim, Photoshop, iTerm, Git, Command Line, Responsive Sites, MongoDB, MySQL, Active Record

    p beat gear: sp202, dr202, mpc1000, logic pro x, ipad digital synths/drum machines, tascam 4-track porta studio, tascam digital recorder

    ul
      li| <a href="http://github.com/lstebner">github.com/lstebner</a>
      li| <a href="http://soundcloud.com/ahhsumx">soundcloud.com/ahhsumx</a>
      li| <a href="http://twitter.com/ahhsumx">twitter.com/ahhsumx</a>

    p ok, that's enough talk. enjoy my digital space.
