#posts.posts
  include posts/20180522_so_many_new_beats
  include posts/20170808_refactoring
  include posts/20170212_alternate_history
  include posts/20170204_extra_weekly_beats
  include posts/20170130_week_end_beats
  include posts/20170116_new_beat_new_roast
  include posts/20170108_52_beats_2017
  include posts/20170108_brain_training
  include posts/20161204_new_stuff
  include posts/20161204_beat_regularly_overwritten
  include posts/20161128_beat_single
  include posts/20161120_beat_holy_batman
  include posts/20161118_vinnie_paz_cornerstone
  include posts/20161116_first_listen_a_tribe_called_quest_we_got_it_from_here
  include posts/20161115_listen_tatsuro_yamashita_melodies
  include posts/20161115_nara_dreamland
