extends layout

block content
  #recipes.posts
    include posts/20161217_stir_fried_bok_choy
    include posts/20161217_stir_fried_green_beans
    include posts/20161217_dill_carrots
    include posts/20161217_roasted_russet_potatoes
    include posts/20161120_stuffing_recipe
    include posts/20161114_vegan_panini_with_fries
