ul
    // 0 index is the slug for the url
    // 1 index is the label
    - items = [["home", "Home/About"], ["beats", "Beats"], ["work", "Work"]]
    for item, i in items
        li
            a(href="#" + item[0]) 
                span.icon &gt;
                = item[1]
