h1
    .avatar
        img(src="/images/avatar.jpg")
    span Luke Stebner
ul.nav
    li
        a(href="/").nav_link
            span.icon &gt;
            | Home

    li
        a(href="/beats2017").nav_link
            span.icon &gt;
            | 52 Beats 2017

    li
        a(href="/roasts2017").nav_link
            span.icon &gt;
            | 52 Roasts 2017

    li
        a(href="/weekly_beats_2016").nav_link
            span.icon &gt;
            | Weekly Beats 2016

    //- li
    //-     a(href="/bsides").nav_link
    //-         span.icon &gt;
    //-         | B-Sides

    li
        a(href="/alternate_history").nav_link
            span.icon &gt;
            | Alternate History

    li
        a(href="/recipes").nav_link
            span.icon &gt;
            | Recipes 

    //- li
    //-     a(href="/resume").nav_link
    //-         span.icon &gt;
    //-         | Resume

    li
        a(href="/vocab").nav_link
            span.icon &gt;
            | Vocab

    li
        a(href="/quiz").nav_link
            span.icon &gt;
            | Quiz
    //- li
        a(href="#latest_beats").nav_link
            span.icon &gt; 
            | Latest Beats

        .audioplayer
            ul.playlist
                - playlist = [[1, "one"], [2, "two"]]
                for beat in playlist
                    - location = beat[0]
                    - label = beat[1]
                    li(data-beat=location).beat
                        span.play play
                        .label= label

    //- li
        a(href="#japan").nav_link
            span.icon &gt; 
            | Japan

    li
        a(href="/memoree").nav_link
            span.icon &gt; 
            | Memoree

    //- li
    //-     a(href="/beatmaker").nav_link
    //-         span.icon &gt; 
    //-         | Beatmaker

    li
        a(href="/typing").nav_link
            span.icon &gt; 
            | Typing

    li
        a(href="/math").nav_link
            span.icon &gt;
            | Math

    li
        a(href="/photostream").nav_link
            span.icon &gt;
            | Photostream

    li
        a(href="/conversions").nav_link
            span.icon &gt;
            | Conversions

    li
        a(href="/about").nav_link
            span.icon &gt;
            | About

