h1
    .avatar
        img(src="/images/avatar.jpg")
    span Luke Stebner
ul
    // 0 index is the slug for the url
    // 1 index is the label
    - items = [["home", "Home", "/"], ["beats", "Beats"], ["jrule", "JRule"]]
    for item, i in items
        li(class=(page == item[0] ? 'selected' : ''))
            - href = item.length > 2 ? item[2] : "/" + item[0]
            a(href=href) 
                span.icon &gt;
                = item[1]
