.topbar
  ul.tabs
    li.tab(class=(page == 'home' ? 'selected' : ''))
      a(href="/") home 
    li.tab(class=(page == 'beats' ? 'selected' : ''))
      a(href="/beats") beats 
    li.tab(class=(page == 'projects' ? 'selected' : ''))
      a(href="/projects") projects
    li.tab(class=(page == 'contact' ? 'selected' : ''))
      a(href="/contact") contact
