.topbar
  ul.tabs
    li.tab(class=(page == 'home' ? 'selected' : ''))
      a(href="/") home 
    li.tab(class=(page == 'beats' ? 'selected' : ''))
      a(href="/beats") beats 
    li.tab(class=(page == 'work' ? 'selected' : ''))
      a(href="/work") work
    li.tab(class=(page == 'posts' ? 'selected' : ''))
      a(href="/posts") posts 
