extends layout

block content
  .typing
    .intro
      h2 Typing Warmup
      p
        a(href="#").start_btn Begin

    .test
      .paragraph
      textarea.input
      .score

    .results


block jsblock
  script(type="text/javascript").
    $(document).ready(function(){ document.typing = new document.Typing(".typing"); });
