extends layout

block content
  .posts
    .post.print_hide
      h3 These are lists of Japanese Vocab that are printer friendly to use for writing practice and recall practice. I add more periodically though right now they are from chapters of Genki, I will add my own lists in the future.
      
    include posts/20161121_vocab_japanese_1
    include posts/20161122_vocab_japanese_2
    include posts/20161122_vocab_japanese_3
    include posts/20170107_japanese_vocab_4
    include posts/20170107_japanese_vocab_5
