.roast_info
  .roast_date
    span roasted on
    block roast_date

  .about
    .origin
      block origin

    .vendor_description
      block vendor_description

    .notes
      block roast_notes
        
  .images_container
    block roast_images

