#beats_page {
    max-width: 720px;

    iframe, .soundcloud_placeholder {
        margin-top: 12px;
    }

    .title {
        font-size: 18px;
    }

    .soundcloud_placeholder {
        position: relative;
        width: 100%;
        max-height: 300px;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
        }

        &:after {
            content: "Load track...";
            font-size: 24px;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, .6);
            opacity: 0;
            padding: 30px;
            text-align: center;
            box-sizing: border-box;
            color: #333;
            font-weight: 100;
            .transition(opacity .3s);
        }

        &:hover {
            &:after {
                opacity: 1;
            }
        }
    }

    .beat {
        position: relative;

        &:after {
            content: "";
            display: block;
            width: 88%;
            height: 1px;
            background-color: rgba(200, 200, 200, .6);
            margin: 30px auto;
        }
    }
}
