#beats_page {
    iframe {
        margin-top: 12px;
    }

    .beat {
        &:after {
            content: "";
            display: block;
            width: 88%;
            height: 1px;
            background-color: rgba(200, 200, 200, .6);
            margin: 30px auto;
        }
    }
}
