@import "vars";
@import "mixins";
@import "reset";

#body_content.has_sidebar {
    left: @sidebar_width;
    right: 0;
    overflow: auto;
    padding: 30px;
}

#sidebar, #body_content.has_sidebar { 
    position: fixed;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-weight: 400;
}

h4, h5, h6 {
    font-weight: 300;
}

p, ul {
    margin: 12px 8px;
    max-width: 380px;
}

ul {
    padding-left: 16px;
}

a {
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: #08f;
    }
}

.tags_list {
    ul {
        padding: 0;
        list-style-type: none;
        margin-left: 0;

        li {
            display: inline-block;
            padding: 2px 6px;
            border-radius: 2px;
            background-color: #ccc;
            cursor: pointer;
            margin-right: 6px;
        }
    }
}

@import "index";
@import "sidebar";
@import "topbar";
@import "beats";
@import "audioplayer";
@import "projects";
@import "posts";

#body_content, body {
    padding: 18px;
    background-color: #f6f6f6;
    font-size: 14px;
    color: #111;
}

p.center_block {
    text-align: center;
    font-weight: 500;
}
