.unselectable {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 300;
  color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  margin: 0 8px;
}
#body_content {
  left: 22%;
  right: 0;
  overflow: auto;
  padding: 30px;
}
#sidebar,
#body_content {
  position: fixed;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  font-weight: 400;
}
h4,
h5,
h6 {
  font-weight: 300;
}
.tags_list ul {
  padding: 0;
  list-style-type: none;
}
.tags_list ul li {
  display: inline-block;
  padding: 2px 6px;
  border-radius: 2px;
  background-color: #ccc;
  cursor: pointer;
  margin-right: 6px;
}
.cover {
  max-width: 100%;
  margin: 10px;
  box-sizing: border-box;
}
.intro_block {
  position: relative;
  text-align: center;
  max-width: 122%;
  margin: 100px 30px;
  box-sizing: border-box;
  padding: 100px;
  vertical-align: middle;
}
.intro_block .avatar {
  position: relative;
  background-color: #fafafa;
  border-radius: 40px;
  display: inline-block;
  width: 80px;
  height: 80px;
  vertical-align: middle;
  margin-right: 8px;
}
.intro_block .avatar img {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 76px;
  height: 76px;
  border-radius: 38px;
}
.intro_block h1,
.intro_block h2,
.intro_block p {
  margin: 20px 0;
}
.intro_block p {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 8px;
  border-radius: 8px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
#sidebar {
  left: 0;
  width: 22%;
  overflow-y: auto;
  overflow-x: hidden;
  border-right: 2px solid rgba(100, 100, 100, 0.5);
}
#sidebar h1 {
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  padding: 8px 0;
  border-bottom: 1px solid #d8d8d8;
}
#sidebar h1 span {
  vertical-align: middle;
}
#sidebar a {
  color: inherit;
  text-decoration: none;
}
#sidebar .avatar {
  position: relative;
  background-color: #fafafa;
  border-radius: 15px;
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 8px;
}
#sidebar .avatar img {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  border-radius: 13px;
}
#sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#sidebar ul li {
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  background-color: #fff;
  cursor: pointer;
}
#sidebar ul li a {
  display: block;
  padding: 30px;
}
#sidebar ul li .icon {
  float: right;
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  border-radius: 1em;
  background-color: #999;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  font-size: .9em;
  opacity: 0;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
}
#sidebar ul li.selected {
  background-color: #ddd;
}
#sidebar ul li:hover {
  background-color: #ccc;
}
#sidebar ul li:hover .icon {
  opacity: 1;
}
#beats_page iframe,
#beats_page .soundcloud_placeholder {
  margin-top: 12px;
}
#beats_page .soundcloud_placeholder {
  position: relative;
  width: 100%;
  max-height: 300px;
  cursor: pointer;
}
#beats_page .soundcloud_placeholder img {
  width: 100%;
  height: 100%;
}
#beats_page .soundcloud_placeholder:after {
  content: "Load track...";
  font-size: 24px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);
  opacity: 0;
  padding: 30px;
  text-align: center;
  box-sizing: border-box;
  color: #333;
  font-weight: 100;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
}
#beats_page .soundcloud_placeholder:hover:after {
  opacity: 1;
}
#beats_page .beat {
  position: relative;
}
#beats_page .beat:after {
  content: "";
  display: block;
  width: 88%;
  height: 1px;
  background-color: rgba(200, 200, 200, 0.6);
  margin: 30px auto;
}
#body_content {
  background-color: #f6f6f6;
}
