extends post_layout

block title
  |MPC Beat: Regularly Overwritten

block date
  |2016/12/04

block content
  .player(data-song="https://s3.amazonaws.com/lukestebner-blog/beats/mpcbeat112716_2.mp3")

  p New MPC beat for my weekly beat. Not a lot of story to tell with this one, but it's chopped from a few sources I've forgotten now and sequenced throughout the week. I really like how this one came together, enjoy!
