extends post_layout

block title
  |Listen: Tatsuro Yamashita - Melodies

block date
  |2016/11/15

block content
  .main_cover
    img(src="https://s3.amazonaws.com/lukestebner-blog/album_covers/melodies.jpg")

  p I found this album when I was recently in Japan. I bought it on a whim, like I often do, but was assured it was a good find anyways. It's got some heavily 80's style upbeat songs and also ballods. I will definitely attempt to come up with a beat from this one.


