extends post_layout

block title
  | Roasted Dill Carrots

block date
  | 2016/12/17

block content
  p Dill carrots are a super simple go to recipe for any night. 

  ul
    li Carrots (4ish/person)
    li Dill weed
    li Dry minced onion
    li Vegan butter

  p Chop the carrots in to uniform pieces and put them in to some sort of baking dish/pan where they can lay on top of each other slightly and can also be covered.

  p Put a few cuts of butter on top of the carrots and then sprinkle a nice layer of dill weed and then minced onion. Cover and put in to a 375 degree F oven. Bake for 45-60 minutes stiring every 15-20 minutes. They are ready when they are fork soft. 

  p Goes well with potatoe dishes and breads. 
