extends post_layout

block title
  |MPC Beat: Single

block date
  |2016/11/28

block content
  .player(data-song="https://s3.amazonaws.com/lukestebner-blog/beats/mpcbeat111116_1.mp3")

  p Another sampled and chopped MPC based beat. This one gives me a fridged cold vibe, which is perfect for this time of year (ignoring California weather...). Enjoy.
