extends post_layout

block title
  |SP

block date
  |2016/10/21

block content
  .player(data-song="https://s3.amazonaws.com/lukestebner-blog/beats/spbeat.mp3")

  p This beat was mostly written on my SP-202 and eventually on my MPC1000. 
