extends post_layout

block title
  |MPC Beat: Setting Onward

block date
  |2016/12/30

block content
  .player(data-song="https://s3.amazonaws.com/lukestebner-blog/beats/mpcbeat123016_2.mp3")

  p Sample based beat, written on MPC1000. Some samples manipulated via SP-202 first. This was the last beat of the year for WeeklyBeats2016 so it has a feeling of moving on to me. 
