extends post_layout

block title
  |Vinnie Paz: Cornerstone of the Corner Store

block date
  |2016/11/18

block content
  .main_cover
    img(src="https://s3.amazonaws.com/lukestebner-blog/album_covers/cornerstone_of_the_cornerstore.jpg")

  p I don't really have a lot to say about this album except that it is pretty great. All the Army of Pharoah's/Jedi Mind Tricks guys seem to put out loads of music constantly and this holds up with that tradition. There are some really gritty boombap style beats on here and a steady stream of rapping. Highly recommended if you like that sort of thing.
