extends post_layout

block title
  |A Tribe Called Quest: We Got It From Here...

block date
  |2016/11/16

block content
  .main_cover
    img(src="https://s3.amazonaws.com/lukestebner-blog/album_covers/A-Tribe-Called-Quest-We-Got-It-From-Here-Thank-You-4-Your-Service-1478899602-640x640.jpg")

  p I really didn't expect much of anything from A Tribe Called Quest in the year 2016. I didn't expect a release at all, but I was hesitant even pressing the play button on this one. However, to my surprise, this is an incredible album. 

  p For me, it holds up to Low End Theory in every way. It has a perfectly produced 90's-vibe and every track is worth hearing. Buy this album and give it a listen! 
