extends post_layout

block title
  | Stir Fried Green Beans

block date
  | 2016/12/17

block content
  p Ingredients
  ul
    li 1 pound Green beans, rinse and remove ends
    li Sesame or Peanut oil
    li 1/4" fresh ginger
    li 1/4 tsp Garlic powder, Black Pepper, Chili powder, Salt
    li Sesame Seeds

  p Steam green beans for about 5 minutes to soften them and then cool them off with cold water or an ice bath. Set in a collander to dry and attempt to remove all water.

  p Heat up a skillet to sautee in; it should be moderately hot. Add some oil when it is ready then add the fresh ginger as an aromatic.

  p Add the green beans and coat with the seasoning. Toss with the nice hot oil. Continue to cook for 7-9 minutes to get crispy and browned on the outside. Before plating, toss with sesame seeds.
