extends post_layout

block title
  |Cass Beat

block date
  |2016/10/21

block content
  .player(data-song="https://s3.amazonaws.com/lukestebner-blog/beats/cassbeat_1.mp3")

  p I wrote this beat sampling a clip that was on a cassette tape I got for free. Written using an MPC1000.
