extends post_layout

block title
  |Stir-Fried Bok Choy

block date
  |2016/12/17

block content
  p Ingredients
  ul
    li Baby Bok Choy (~2/person)
    li 1 tbsp mirin
    li 1 tbsp soy sauce
    li 1/4 tsp ginger per ~3-4ish bok choy
    li 1 tbsp per ~3-4ish bok choy Sesame oil

  p Cut the chunk bottoms off the bok choy and rinse all the pieces well. Cut the leaves from the thicker stalk part and if the stalk is large, cut it in half as well. 

  p Get a skillet hot and then add the sesame oil. Add all the stalks and the ginger; toss with oil. After a minute or two add the leaves and toss again. 

  p Pour the soy sauce plus mirin in to the edge of the pan and then cover with a lid and let it steam cook for 2 minutes. 

  p Remove the lid and stir fry for another 2-3 minutes on medium high heat. At this point garlic or onion or other mixins can be added.
