extends post_layout

block title
  | Some New Stuff

block date
  | 2016/12/04

block content
  p I have been putting some new stuff up here so I figured I would put up a short update in case anyone comes here and finds it. For the most part, I spend my time creating beats so there's quite a few new beat posts after this one. The last two, I'm particularly proud of so be sure to listen!

  p Outside of that, I've built two tools now to mainly help me practice learning Japanese, but I also like to incorporate basic math because it's really really good for helping keep your brain fresh. The first of these tools is the game of Memory, or "Memoree" as the sidenav calls it. The other tool is a pretty basic multiple choice Quiz, also linked in the sidenav. 

  p These are both tools I built from scratch using Javascript/HTML/CSS. I will get the code up on github some time and maybe even write more about how it works. So, listen to some beats and train your brain, maybe you'll even learn some Japanese!
