extends post_layout

block title
  |Abandoned Nara Dreamland

block date
  |2016/11/15

block content
  p In Nara, Japan there is a very infamous theme park named Nara Dreamland. Well, there used to be at least. Nara Dreamland closed many years ago as it was basically a Disneyland clone and Tokyo Disney took their crowd back. Dreamland sat completely intact, yet abandoned, for a long time but is now being demolished.

  p Unfortunately, I didn't get to explore Dreamland like some haikyo visitors are lucky enough to do, but I did get to peer in to it before it was completey gone. The entrance and all of main street seemed to be already destroyed along with most everything else that wasn't the giant mountain or the castle itself. The grounds were also laden with construction workers so wandering around wasn't an option. 

  p These photos are just from the edge of the park where I couldn't be yelled at. It is sad to see something like this be destroyed, but I'm glad I got at least a glimpse in personn in to what Dreamland used to be. Also, if you climbed through the woods after seeing them covered with jorō spiders you're a brave, brave soul. 

  img(src="https://s3.amazonaws.com/lukestebner-blog/images/nara_dreamland/dreamland1.jpg").zoomable
  img(src="https://s3.amazonaws.com/lukestebner-blog/images/nara_dreamland/dreamland2.jpg").zoomable
  img(src="https://s3.amazonaws.com/lukestebner-blog/images/nara_dreamland/dreamland3.jpg").zoomable
