extends post_layout

block title
  |Japanese Vocab 1

block date
  |2016/11/21

block content
  a(href="#show_all").show_all_translations Show All
  p Hover words to see translation 
  
  ul.vocab_list
    li あの
      span um...
    li いま
      span now
    li えいご
      span English (language)
    li ええ
      span yes (informal)
    li がくせい
      span student
    li 〜ご
      span language suffix
    li こうこう
      span high school
    li ごご
      span P.M. (time)
    li ごぜん
      span A.M. (time)
    li 〜さい
      span age suffix (~years old)
    li 〜さん
      span name suffix (mr/mrs/ms)
    li 〜じ
      span time suffix (o'clock)
    li 〜じん
      span person suffix
    li せんこう
      span major
    li せんせい
      span teacher
    li そうです
      span that's right
    li そうですか
      span is that so?; I see
    li だいがく
      span college; university
    li でんわ
      span telephone
    li ともだち
      span friend
    li なまえ
      span name
    li なん・なに
      span what
    li にほん
      span Japan
    li 〜ねんせい
      span years in school suffix
    li はい
      span yes
    li はん
      span half (i.e. half-past)
    li ばんごう
      span number
    li りゅうがくせい
      span international student
    li わたし
      span I
    li アメリカ
      span America
    li イギリス
      span Britain
    li オーストラリア
      span Australia
    li かんこく
      span Korea
    li スウェーデン
      span Sweeden
    li ちょうごく
      span China
    li かがく
      span science
    li アジアけんきゅう
      span Asian studies
    li けいざい
      span economics
    li こくさいかんけい
      span international relations
    li コンピューター
      span computer
    li じんるいがく
      span anthropology
    li せいじ
      span politics
    li ビジネス
      span business
    li ぶんがく
      span literature
    li れきし
      span history
    li しごと
      span occupation; job; work
    li いしゃ
      span doctor
    li かいしゃいん
      span office worker
    li こうこうせい
      span high school student
    li しゅふ
      span housewife
    li だいがくいんせい
      span graduate student
    li だいがくせい
      span college student
    li べんごし
      span lawyer
    li おかあさん
      span mother
    li おとうさん
      span father
    li おねえさん
      span older sister
    li おにいさん
      span older brother
    li いもうと
      span younger sister
    li おとうと
      span younger brother

