extends post_layout

block title
  |Mallows

block date
  |2016/10/01

block content
  .player(data-song="https://s3.amazonaws.com/lukestebner-blog/beats/malobeat100116b_4.mp3")

  p Sampled from Malo mainly because of those shakers. 
