extends post_layout

block title
  |Vegan Panini with Fries

block date
  |2016/11/14

block content
  .main_cover
    img(src="https://s3.amazonaws.com/lukestebner-blog/images/vegan_panini.JPG")
      
  p I love sandwiches and this is a classic. Very cheap and simple as well. I use Sourdough bread, Tofurky Deli Slices, Organic Baby Spinach and Follow Your Heart vegan cheese slices. The slices and cheese come in a few varieties and of course you can vary the greens or add more veggies to create tons of sandwiches. 

  p On the side, I really like Trader Joe's frozen oven fries. They're quick and convenient. Salads are easy to make too for more greens.

  p To assemble the sandwich I use two large slices of bread, then do a layer of cheese (1 1/2-2 pieces), a layer of slices (5 slices), a nice layer of greens and some pepper if you like that. Griddle on both sides with some moderate pressure now and then to get a nice crust. Use a vegan butter or some olive oil if desired. 

  p The fries cook for about 25 minutes, flipping halfway through, at 425 degrees F. Pepper and garlic powder are good toppings, so are chives or green onions.
