extends post_layout

block title
  |Japanese Vocab 3

block date
  |2016/11/22

block content
  p Hover words to see translation
  ul.vocab_list
    li えいが
      span movie
    li おんがく
      span music
    li ざっし
      span magazine
    li スポーツ
      span sports
    li デート
      span date
    li テニス
      span tennis
    li テレビ
      span television
    li アイスクリーム
      span icecream
    li あさごはん
      span breakfast
    li おさけ
      span sake
    li おちゃ
      span tea
    li コーヒー
      span coffee
    li ばんごはん
      span breakfast
    li ハンバーガー
      span hamburger
    li ひるごはん
      span dinner
    li みず
      span water
    li いえ
      span home
    li うち
      span my home
    li がっこう
      span school
    li あさ
      span morning
    li あした
      span tomorrow
    li いつ
      span when
    li きょう
      span today
    li 〜ごろ
      span ~at about (time)
    li こんばん
      span bag
    li しゅうまつ
      span weekend
    li どようび
      span saturday
    li にちようび
      span sunday
    li まいにち
      span every day
    li まいばん
      span every night
    li いく
      span to go
    li かえる
      span to return
    li きく
      span to listen
    li のむ
      span to drink
    li はなす
      span to speak
    li よむ
      span to read
    li おきる
      span to get up
    li たべる
      span to eat
    li ねる
      span to go to sleep
    li みる
      span to watch; to see
    li くる
      span to come (destination)
    li する
      span to do
    li べんきょうします
      span to study
    li いい
      span good
    li はやい
      span early
    li あまり＋negative
      span not much
    li ぜんぜん＋negative
      span not at all
    li たいてい
      span usually
    li ちょっと
      span a little
    li ときどき
      span sometimes
    li よく
      span often
    li そうですね
      span that's right; let me see
    li でも
      span but
    li どうですか
      span how about..? how is..?
