extends post_layout

block title
  |MPC Beat: Holy, Batman

block date
  |2016/11/20

block content
  .player(data-song="https://s3.amazonaws.com/lukestebner-blog/beats/mpcbeat111916_1.mp3")

  p New beat made this week for my weekly beat. I used a few records in this to sample from, all of which I picked up on my recent trip to Japan. They were pretty random, but most samples are from an OG (60's) Batman soundtrack and a drum session. I like the beat with and without the vocal samples, but I think they give it a fun narrative. Enjoy.
