extends post_layout

block title
  |MPC Beat: Reduce

block date
  |2016/12/15

block content
  .player(data-song="https://s3.amazonaws.com/lukestebner-blog/beats/mpcbeat121516_2.mp3")

  p Sample based beat written on MPC1000. More to come later.
