extends post_layout

block title
  |Stuffing Recipe

block date
  |2016/11/20

block content
  p Ingredients
  ul
    li Loaf of bread (Sourdough or Whole Wheat work well)
    li 1 1/2 cup vegetable broth
    li Dry herbs: Parsley, Oregano, Basil, Thyme
    li Black pepper
    li Garlic powder/granules
    li Extra Virgin Olive Oil
    li 1 medium sweet onion, diced
    li carrots, diced
    li celery, diced
    li (optional) fried onion bits

  p Pre-heat the oven to 375&deg;F

  p Dice the bread in to squares, something like 1/2" big. Put them in to a large mixing bowl and toss with some olive oil, black pepper and garlic granules. Put in to the oven on a large tray or in a baking dish. These should bake for about 25 minutes, but after about 12-15 minutes shake them up. 

  p If not diced yet, dice the onion, carrots and celery. Put in to a mixing bowl. Get a large skillet heating up to medium high heat and have some oil handy. Once it's hot add a decent amount of oil and then the veggie mix. Spread out evenly and sauteé.

  p While the veggies cook, put the baked breadsquares back in to the mixing bowl. Sprinkle with a fair amount of the dry herbs and mix up. Once the veggies are done, add them to the bread. Mix a bit then add the vegetable broth in increments. Mix it throughout and if it begins to get soggy don't add any more. If it seems to dry, more can be added or water can be used to sub any part. 

  p Mix well and then put in to a baking pan to bake. Put in to the oven for about 25-35 minutes, watching for it to be browning. About 5 minutes before it's done you can add the fried onion bits to the top layer for bonus.

  p Ready to serve once it's a little crunchy on top!
