extends post_layout

block title
  |MPC Beat: Busta Bust

block date
  |2016/12/20

block content
  .player(data-song="https://s3.amazonaws.com/lukestebner-blog/beats/mpcbeat122016_2.mp3")

  p Sample based beat, written on MPC1000, inspired by Busta Rhymes. Woohaw!
