extends post_layout

block title
  |Japanese Vocab 2

block date
  |2016/11/22

block content
  p Hover words to see translation
    a(href="#show_all").show_all_translations Show All
    
  ul.vocab_list
    li これ
      span this one
    li それ
      span that one
    li あれ
      span that one over there
    li どれ
      span which one
    li この
      span this
    li その
      span that
    li あの
      span that over there
    li どの
      span which
    li ここ
      span here
    li そこ
      span there
    li あそこ
      span over there
    li どこ
      span where
    li だれ
      span who
    li おいしい
      span delicious
    li さかな
      span fish
    li とんかつ
      span pork cutlet
    li にく
      span meat
    li メニュー
      span menu
    li やさい
      span vegetables
    li えんぴつ
      span pencil
    li かさ
      span umbrella
    li かばん
      span bag
    li くつ
      span shoes
    li さいふ
      span wallet
    li ジーンズ
      span jeans
    li じしょ
      span dictionary
    li じてんしょ
      span bike
    li しんぶん
      span newspaper
    li Tシャツ
      span tshirt
    li とけい
      span clock
    li ノート
      span note
    li ぺん
      span pen
    li ぼうし
      span hat
    li ほん
      span book
    li きっさてん
      span cafe
    li ぎんこう
      span bank
    li トイレ
      span toilet
    li としょかん
      span library
    li ようびんきょく
      span post office
    li アメリカ
      span America
    li イゲリス
      span Britain
    li かんこく
      span Korea
    li ちゅうがく
      span China
    li けいざい
      span economics
    li コンピューター
      span computer
    li ビジネス
      span business
    li れきし
      span history
    li おかあさん
      span mother
    li おとうさん
      span father
    li いくら
      span how much
    li 〜えん
      span yen
    li たかい
      span expensive; high
    li いらっしゃいませ
      span welcome (to our store)
    li 〜お　おねがいします
      span ...please
    li 〜お　ください
      span please give me...
    li じゃあ
      span then...
    li どうぞ
      span please; here it is
    li どうも
      span thank you
