extends post_layout

block title
  |Sims: More Than Ever

block date
  |2016/11/14

block content
  .main_cover
    img(src="https://s3.amazonaws.com/lukestebner-blog/album_covers/sims_more_than_ever_cover.jpg")
      
  p Unfortunately, I really didn't like this album. The beats are too electronic and sound flat. There are some worthwhile verses, but OneHundred was the only track that really stood out to me. 
