extends post_layout

block title
  | Roasted Russet Potatoes

block date
  | 2016/12/17

block content
  p Lately I have been finding a lot of good looking bags of organic russet potatoes for cheap and they have been making great hearty winter dishes. They are also very simple to prepare and naturally taste buttery and delicious. 

  p Ingredients
  ul
    li Organic Russet Potatoes (2-3/person)
    li Pepper, Thyme and Garlic powder to season
    li Olive oil

  p To prepare, peel the skins off all the potatoes and rinse them clean. Cut them in half and then cut those halves in halves and then turn 180 degrees and cut in half again. You should have made a cross cut to get 4 pieces per half. Toss these in to a bowl to use to coat with seasoning.

  p Coat with olive oil and spices. Mix very well, make sure everything is spread evenly. Pour into a baking pan that has some sort of edge, but can let them be spread out as one layer. The more sides that are touching, the less crispy they'll get (but they'll still cook either way). 
  
  p Bake uncovered at 400 degrees until the outsides start to get crispy and then cover and bake for another 15 minutes. Stir every ~20 minutes while cooking. They may start to stick as they crisp. They're done after about one hour usually.

  
