extends post_layout

block title
  | Goto Smoothie

block date
  | 2017/01/10

block content
  p Ingredients
  ul
    li 2-3 med or large bananas
    li 12oz water
    li 2 handfulls/cups of spinach
    li 12-16oz frozen fruit, slightly thawed
    li (optional) persian cucumber or two

  p This is the basic structure for my goto smoothie. They are absolutely delicious, simple to make and you can enjoy them every single day. You do need a pretty decent sized blender for this though so if yours is smaller than 48oz, you will need to downsize the recipe.

  p Although everything gets blended, you do get a better texture if you follow a few simple steps. The first is to take your fruit out of the freezer about 30 minutes or more before you are going to make your smoothie. This keeps it from being too icy, but it's also personal preference. 
  p Add the water to the blender first and then the spinach and if using cucumbers, those too. Blend this up good. 

  p Once that stuff is blended, add the bananas and then the frozen fruit and blend well, maybe even two times. That's it! 

  p The flavors do blend over 10-15 minutes so if it's "too green" at first just give it a few minutes. You can also save half of this in the fridge, but I usually can't get enough. 

  p 
    em Buying Ingredients:

  p I actually buy all my smoothie ingredients from Trader Joe's because it's cheap and convenient. They sell bags of greens which are the right size for about 2 smoothies. They sell bags of organic frozen fruits that are exactly 12 and 16 ounces. And of course they have bananas too!
