extends post_layout

block title
  |Japanese Vocab 5

block date
  |2017/01/07

block content
  a(href="#show_all").show_all_translations Show All
  p Hover words to see translation 
  
  ul.vocab_list
    li うみ
      span sea
    li きって
      span postal stamps
    li きっぷ
      span ticket
    li サーフィン
      span surfing
    li しょくだい
      span homework
    li たべもの
      span food
    li たんじょうび
      span birthday
    li テスト
      span test
    li てんき
      span weather
    li のみもの
      span drink
    li はがき
      span postcard
    li バス
      span bus
    li ひこうき
      span airplane
    li へや
      span room
    li ぼく
      span I (used by men)
    li やすみ
      span holiday; day off
    li りょこう
      span travel
    li あたらしい
      span new
    li あつい
      span hot
    li いそがしい
      span busy
    li おおきい
      span big
    li おもしろい
      span interesting
    li かっこいい
      span good looking
    li こわい
      span frightening; scary
    li さむい
      span cold
    li たのしい
      span fun
    li らいさい
      span small
    li つまらない
      span boring
    li ふるい
      span old (thing, not person)
    li むずかしい
      span difficult
    li やさしい
      span easy (problem); kind (person)
    li やすい
      span inexpensive; cheap (thing)
    li きらい（な）
      span to dislike
    li きれい（な）
      span beautiful; clean
    li げんき（な）
      span healthy; energetic
    li しずか（な）
      span quiet
    li すき（な）
      span to like
    li だいきらい（な）
      span to hate
    li だいすき（な）
      span to love
    li にぎやか（な）
      span lively
    li ひま（な）
      span not busy; have a lot of free time
    li およぐ
      span to swim
    li きく
      span to ask
    li のる
      span to ride; to board
    li やる
      span to do; perform
    li でかける
      span to go out
    li いっしょに
      span together 
    li すごく
      span extremely
    li それから
      span and then
    li だいじょうぶ
      span it's okk; not to worry
    li とても
      span very 
    li どんな
      span what kind of...
    li ~まい
      span counter for flat objects
    li 〜まで
      span to, as far as (a place); till (a time)
