extends post_layout

block title
  | Apple Chips

block date
  | 2017/01/16

block content
  p One of my favorite snacks of all times has got to be apple chips. They're the best of both worlds - fruit + chips! However, they are always very expensive and typically coated in sugar or other weird things (acids usually) that I don't have any need for in my life. So, I make my own.

  p There is one big secret weapon here though... a dehydrator. I use an Excalibur one, but there are a ton of varieties available and you can probably use the oven, but mine doesn't have temperature settings as low as my dehydrator nor does it have as many racks. The Excalibur is an excellent dehydrator if you're looking for one and don't know where to start. 

  p Ingredients
  ul
    li Apples (lots, different varieties)
    li Cinnamon (optional)

  p To prep the apples I use a few tools: an apple corer, a chef's knife and a mandolin. The process is pretty simple. All the apples you want to dehydrate need broken down, which means remove the core, then cut each apple in 1/2 or 1/3's and then carefully cut these down in to slices using the mandolin (or knife, but this is much slower). I cut them in to about 1/4" thick slices, it's almost as thick as my mandolin will go. I typically try to dehydrate at least a dozen apples at a time if going through all the effort. 

  p As you break down the apples, toss them in a bowl/container more than large enough to hold them all. Coat with cinnamon regularly as you do your butchering and then mix to coat well once you're done. You can add as much or as little cinnamon as you like; I find there can never be too much but that's probably just me.

  p Once you're ready to dehydrate them, spread them out in an even layer on your dehydrator sheets. They'll take about 13-15 hours at 120-135 degrees F, which is best done over night so you can eat them for lunch the next day. When they're done, give them a little time to come to room temperature and then store them in an air tight container. They'll probably last years in a well sealed mason jar, which makes them good for emergency kits, but they won't last long as soon as you start eating them. Make sure you make extra because they'll be gone before you know it! Enjoy.
