extends post_layout

block title
  | Alternate History Beats Project

block date
  | 2017/02/12

block content
  p Alternate History is a beats project I conceived earlier this year and have been working on piece by piece. The more it comes together, the more I enjoy it and that's why I wanted to start sharing what I was creating. So, now you can listen to these beats too on the 
    a(href="/alternate_history") Alternate History
    |  page.

  p But, what is Alternate History exactly? Well, in this world where alternate facts exist and you don't know what's real or not, these beats have also come to exist. All the beats are chopped and arranged by me, but the acapella's are from my favorite rappers. It is the music I wish I could have created with these artists, but it wasn't my time yet so I am catching up.

  p There's really not much more to it than that. I create beats using a variety of methods, mostly sampling, and I strive to recreate the golden era of hip hop. If somehow you're an artist who likes these beats and wants to use them feel free to reach out to me, otherwise, it's time to just listen and enjoy! 
