extends post_layout

block title
  | Brain Training

block date
  | 2017/01/07

block content
  p Brain Training is a simple concept, but something that I spend a lot of time doing. The concept is this: do little activities, every day, that require your brain to work and it will get better at performing all activities over time. It's just like exercising, you can't binge or yo-yo, you just have to do a little bit all the time and you'll always be in shape.

  p There are tons of different things you can do for brain training, but my favorite is actually math and then language. To practice math, I created a generator that can come up with an infinite number of math problems for me to print out and solve. I keep a little stack of these printed out and do a few every day during that time when I want a break from a more serious task, but still want to feel a little productive. Visit the math link in the sidebar if you want to print some of these out too.

  p Studying a language is a great way to put your brain to work and you can study any language you want. There's a hidden bonus of also improving at your own language as you re-learn technical terms and concepts in the new language. I am trying to learn Japanese currently which is abundant with challenging tasks.

  p When I don't want to just solve math problems on paper I have created a few little games I host here to play. One is the classic game of "memoree" (linked in sidebar). It's a good game to play in general, but I add more variety by sometimes playing it in Japanese or using Math problems or whatever else comes to mind.

  p Lastly, the Quiz. Another tool that can both teach you and train your brain at the same time. Quizzes help with basic recall so I like to take them to practice language related things but math works too here and I'm sure many other things.

  p That's a short overview of the purpose of most everything on this site. If you're really interested in more stuff, I recommend your local newspapers and books. Thanks for reading!
