extends post_layout

block title
  |Refactoring

block date
  |2017/08/08

block content
  p It's time for me to admit this website is out of date and poorly maintained. In 2017, that's just not acceptable! I've been up to many things though and have a lot of new ideas to apply here. So, I will set up a small road map for what I am planning. 

  ol
    li Get this site updated so it is running on the most current version of node and express
    li Turn navigation in to a proper component
    li Make Jukebox in to component 
    li Make Quiz in to a component
    li Make Memoree in to a component
    li Make Typing in to a component
    li Make Photostream in to a component
    li Make Conversions in to a component
    li Make Recipes in to a component
    li Take the other pages that remain and make them static or remove them if no longer useful
    li Test, write test, write more tests.

  p So, you can see there's a heavy emphasis on one concept - a component. You may already have an idea of what a "component" is, but I'm going to give you my definition here. A Component is a bit of contained code that can be managed on its own and dropped in to various situations. Component's should not rely on anything global and should perform basic, generic functionalities.

  p Now, that's just the existing bits of this website that need love. There will also be some new things coming including more talk about this Components concept and how to build web apps in a sandboxed environment so that you are forced to focus on one component at a time. There will also be some chatter coming here about love2d, lua, and gamedev as a hobby. 

  p I will also try to write about the changes I make as I go about and keep all the components hosted on 
    a(href="http://github.com/lstebner") my github
    | . Until then, stay tuned!
