extends post_layout

block title
  |Japanese Vocab 4

block date
  |2017/01/07

block content
  a(href="#show_all").show_all_translations Show All
  p Hover words to see translation 
  
  ul.vocab_list
    li アルバイト
      span part-time job
    li かいもの
      span shopping
    li クラス
      span class
    li あなた
      span you
    li いす
      span chair
    li いぬ
      span dog
    li おもやげ
      span souvenier
    li こども
      span child
    li ごはん
      span rice, meal
    li しゃしん
      span picture, photograph
    li つくえ
      span desk
    li てがみ
      span letter
    li ねこ
      span cat
    li パン
      span bread
    li ひと
      span person
    li メール
      span e-mail
    li おてら
      span temple
    li こうえん
      span park
    li スーパー
      span grocery store
    li デパート
      span department store
    li びょういん
      span hospital
    li ホテル
      span hotel
    li ほんや
      span book store
    li まち
      span town; city
    li レストラン
      span restaraunt
    li きのう
      span yesterday
    li 〜じかん
      span hours suffix
    li せんしゅう
      span weekend
    li とき
      span when...; at the time of...
    li げつようび
      span monday
    li かようび
      span tuesday
    li すいようい
      span wednesday
    li もくようび
      span thursday 
    li きんようび
      span friday
    li あう
      span to meet; to see (a person)
    li ある
      span there is...
    li かう
      span to buy
    li かく
      span to write
    li とる
      span to take (a picture)
    li まつ
      span to wait
    li わかる
      span to understand
    li いる
      span is in...; stays at...
    li 〜ぐらい
      span about (approximate)
    li ごめんなさい
      span I'm sorry
    li だから
      span so; therefore
    li たくさん
      span many; a lot
    li 〜と
      span together with (a person)
    li どうして
      span why
    li ひとりで
      span alone
    li みぎ
      span right
    li ひだり
      span left
    li まえ
      span front
    li うしろ
      span back
    li なか
      span inside
    li うえ
      span on
    li した
      span under
    li ちかく
      span near; nearby
    li となり
      span next
    li あいだ
      span between

