extends post_layout

block title
  | Read: Fluent Forever

block date
  | 2017/01/16

block content
  p For my first book of the year I read Fluent Forever, a book about how to learn new languages and remember them "forever". As someone who has been working on learning Japanese for over a year now, this book sounded like it could help me better direct my studies and add structure to what I was learning. So, I picked up a copy and gave it a read.

  p It's a pretty light read as it repeats a few basic ideas over and over. My favorite part though was the first few chapters that detail how your memory works and how humans learn languages. This type of stuff, for me, can make all the difference. The more you learn about how your brain works, the more efficiently you can learn all information and this book is ripe with information in this department. 

  p The bulk of the book is really just about how to create and use flash cards efficiently. This doesn't sound all that exciting, but after the set up about how memory works he really makes the point that flash cards are all you need to learn another language. If you can create good enough ones, and you must create them all yourself (this is key!), then it's just a matter of utilizing spaced repitition in the form of reviewing those flash cards.

  p Admittedly, he got me excited to get to creating flash cards so that seems impressive. On top of that, he taught me a whole bunch of stuff about how my brain works and how language works so I feel like I'm better positioned to be able to learn a language. He also encourages a few different types of books than I had owned for learning and I've found that to be very handy. If you were taking a class you may get a lot more of these details from feedback, but as a solo learner, picking up a book that details grammar alone has been incredibly helpful. 

  p All in all, this was a great read to start off the year. I really want to be able to converse in Japanese this year so I think this will help me focus on learning the right things rather than being spread too thin. I recommend it if you're trying to learn a language on your own.
