extends post_layout

block title
  | 52 Beats 2017

block date
  | 2017/01/08

block content
  p Inspired by Weekly Beats 2016 which I participated in last year, I'm doing my own 52 Beats 2017 this year. It's basically an extension in my mind, but it might all be new to you, whomever you are. The concept is simple though: write a beat every week, all year. Last year I fell a bit short, but ended up writing about 46 beats. I'll get these together to share here, but this year I don't want to miss a week and I want to keep it hip hop focused. 

  p Head over to the 
    a(href="/beats2017") 52 Beats 2017
    |  page I put up to keep up with the beats this year. There's already one up there to listen to! 
