extends post_layout

block title
  | New Beat, New Roast

block date
  | 2017/01/16

block content
  p It's Monday morning so of course there's some new content available since I completed my weekly beat and weekly roast from the past week. You'll have to visit the 
    a(href="/beats2017") 52 Beats 
    |  and 
    a(href="/roasts2017") 52 Roasts 
    |  pages respectively to see check out the new stuff. This week I plan on starting to put together a page full of all my MPC based beats with more info on how each are made. Also, an update to the Quiz is coming soon with fill in the blank type answers. That's it! Have a great week.
