extends post_layout

block title
  |SO Many New Beats

block date
  |2018/05/22

block content
  p What have I been up to this year? Well, mostly making a ton of beats. Also, a lot of cooking,
    |  and coffee roasting, but this post is all about the beats.

  p I have been participating in the 
    a(href="http://weeklybeats.com", target="_blank") Weekly Beats
    |  project again this year, and have made a beat every single week now for the last 20 weeks!
    |  On top of that, I still commute quite a bit and when doing so I like to use the iMaschine
    |  app to write little looped beats. I've made almost 20 of those this year as well, and
    |  uploaded them all to share.

  p All of these beats are now added to the 
    a(href="/lukebox") jukebox
    |  so you can get to listening!

